@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.title{
    max-width: 300px;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center; 
    align-items: center;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);

}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
}
/*  before คือ มากก่อนขีดข้างบนนั้นแหละ */
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(140deg,#71b7e6,#9b59b6);
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
}

form .user-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);

}

.user-details .input-box .user-details{
    font-weight: 500;
    margin-bottom: 5px;

}

.user-details .input-box input{
    height: 45px;
    
    
}

